body{
  font-family: 'PT Serif', serif;
}
.fontfam{
  font-family: 'Montserrat Subrayada', sans-serif;
}

.bg-black{
    background-color: black;
}
.image{
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
}


/* //////responsive///////////////// */

@media only screen and (min-device-width: 1021px){
  .font-div{
      padding: 42.8px 0px!important;
  
  }
}


.overlay {
  transition: transform .6s;  
}
.overlay:hover {
  transform: scale(0.9); 
}

.textsmall{
  font-size: small;
}

.blocktransform{
  transition: transform .6s;
  /* border-radius: 7px; */
}

.blocktransform:hover {
  transform: scale(0.9); 
}

.font-div{
    width: 25%;
}

.contacttransform{
  transition: transform .6s;
}
.contacttransform:hover {
  transform: scale(1.1); 
}

span.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave-animation {
  0% { transform: rotate(  0.0deg) }
 10% { transform: rotate(-10.0deg) }
 20% { transform: rotate( 12.0deg) }
 30% { transform: rotate(-10.0deg) }
 40% { transform: rotate(  9.0deg) }
 50% { transform: rotate(  0.0deg) }
100% { transform: rotate(  0.0deg) }
}


.cardshadow{
  box-shadow: 10px 10px 8px #888888;
}
.cardshadow {
    transition: transform .6s;
}

.cardshadow:hover {
  transform: scale(0.9); 
}



.fa:hover {
    opacity: 0.5;
  }

.fat {
    padding: 20px;
    font-size: 20px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fat:hover {
    opacity: 0.5;
  }
  
  .fa-facebook {
    background: #2b4170;
    color: white;
  } 
  .fa-twitter {
    background:#55ACEE;
    color: white;
  }
  .fa-github{
    background:grey;
    color: white;
  }
  .fa-linkedin {
    background: #6bcaf7;
    color: white;
  }


/* Education */

.timeline{
  margin-top:20px;
  position:relative; 
}

.timeline:before{
  position:absolute;
  content:'';
  width:4px;
  height:calc(100% - 150px);
  background: #668cff;
  left:14px;
  top:5px;
  border-radius:4px;
}

.timeline-month{
  color:black;
  position:relative;
  padding:4px 15px 4px 35px;
  background-color:#668cff;
  display:inline-block;
  width:auto;
  border-radius:40px;
  border:3px solid #17191B;
  border-right-color:black;
  margin-bottom:30px;
}

.timeline-month span{
  position:absolute;
  top:-1px;
  left:calc(100% - 10px);
  z-index:-1;
  white-space:nowrap;
  display:inline-block;
  background-color:#111;
  padding:4px 10px 4px 20px;
  border-top-right-radius:40px;
  border-bottom-right-radius:40px;
  border:1px solid black;
  box-sizing:border-box;
}

.timeline-month:before{
  position:absolute;
  content:'';
  width:20px;
  height:20px;
  background: white;
  border-radius:100%;
  border:1px solid #17191B;
  left:5px;
}

.timeline-section{
  padding-left:35px;
  display:block;
  position:relative;
  margin-bottom:30px;
}

.timeline-date{
  margin-bottom:15px;
  padding:2px 15px;
  background:#668cff;
  position:relative;
  display:inline-block;
  border-radius:20px;
  border:3px solid #17191B;
  color:black;
text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}
.timeline-section:before{
  content:'';
  position:absolute;
  width:30px;
  height:1px;
  background-color:#668cff;
  top:12px;
  left:20px;
}

.timeline-section:after{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  background:#668cff;
  top:7px;
  left:11px;
  border:1px solid #17191B;
  border-radius:100%;
}



.timeline-box{
  position:relative;
  color:black;
  background-color:#668cff;
  border-radius:15px;
  /* border-top-left-radius:0px; */
  /* border-bottom-right-radius:0px; */
  border:3px solid #17191B;
  transition:all 0.3s ease;
  overflow:hidden;
}

.box-title{
  padding:10px 15px;
  font-size: 23px;
  border-bottom: 1px solid #17191B;
}

.box-title i{
  margin-right:5px;
}

.box-content{
  padding:5px 15px;
  background-color:white;
}

.certificate{
  padding-top: 20px;
}
.certificate-text{
  text-align: center;
}

.box-shadow { box-shadow:5px 5px 5px #d9dbdf; }


.imagefixed{
  background-image: url("https://images.unsplash.com/photo-1594741257198-0e366a1ec822?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1600");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.homeimage{
  background-image: url("https://images.unsplash.com/photo-1584947114226-950522a87172?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1600");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/* workbutton */
.button{
    border-radius: 5px;
}
.button:hover{
  background-color: rgb(230, 169, 177);
}